<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/stories" class="brand-logo center">story</a>
      <a href="/stories" data-activates="main-menu" class="button-collapse show-on-large"> <i class="fa fa-bars"></i></a>

      <ul class="right hide-on-small">
        {{#if user}}
          <li> <a href="/dashboard">Welcome {{user.firstName}}</a> </li>
          <li> <a href="/auth/logout">logout</a> </li>
        {{else}}
          <li> <a href="/stories"> <i class="fa fa-book">Stories</i></a></li>
          <li> <a href="/auth/google">Login</a> </li>
        {{/if}}
      </ul>

      <ul class="side-nav" id="main-menu">
          <li><a href="/stories"><i class="fa fa-book">stories</i></a></li>
          {{#if user}}
          <li><a href="/dashboard"><i class="fa fa-cog">dash</i></a></li>
          <li><a href="/stories/my"><i class="fa fa-user">user</i></a></li>
          <li> <a href="/auth/logout">logout</a> </li>
          {{else}}
          <li class="divider"></li>
          <li>
            <a href="/auth/google" class="btn red darken-1"> <i class="fa fa-google left"></i> google log</a>
          </li>
          {{/if}}


      </ul>
    </div>
  </div>
</nav>