<h1>add</h1>
<div class="row">
  <form action="/stories" method="POST" class="col s12">

    <div class="row">
      <div class="input-field">
        <input type="text" name="title" placeholder="title">
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          <option value="public" selected>public</option>
          <option value="private">private</option>
          <option value="unpublished">unpublished</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>

    <div class="row">
      <p>
        <input type="checkbox" name="allowComments" class="filled-in" id="checkbox" checked="checked">
        <label for="checkbox" >Allow comments</label>
      </p>
    </div>

    <div class="row">
      <div class="input-field">
        <h4>your story</h4>
        <textarea name="bodytext" id="body" rows="50"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="submit" name="submit" value="save" class="btn">
      </div>
    </div>

  </form>
</div>